{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Editar perfil{% endblock titulo %} {% block linkhead
%}
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets-costa/css/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets-costa/css/timepicker/jquery.timepicker.css" /> 
{% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="modificar-perfil" class="form derecho ">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
                 {% if user.patrulla_id != null %}
                <img alt="image" class="img-circle" src="{{ baseUrl() }}/assets-costa/img/avatar/moderador.svg" class="img-circle img-responsive" style="height:200px; margin: 0 auto;"
                data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario" alt="Avatar">
                {% else %}
                <img alt="image" class="img-circle" src="{{ baseUrl() }}/assets-costa/img/avatar/{{user.genero}}-{{user.id % 6}}.svg" class="img-circle img-responsive" style="height:200px; margin: 0 auto;"
                data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario" alt="Avatar">
                {% endif %}
				<h1>Modificar perfil</h1>
				<hr>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-1">
                <form action="{{ urlFor('runModifUsuario') }}" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <label for="inputNombre" class="col-lg-2 control-label">Nombre/s</label>
                            <div class="col-lg-10">
                                <input name="nombre" type="text" class="form-control" id="inputNombre" placeholder="Escriba su nombre">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputApellido" class="col-lg-2 control-label">Apellido</label>
                            <div class="col-lg-10">
                                <input name="apellido" type="text" class="form-control" id="inputEmail" placeholder="Escriba su apellido">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input name="email" type="text" class="form-control" id="inputEmail" disabled readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputGenero" class="col-lg-2 control-label">Genero</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="inputGenero" name="genero" required>
                                            <option value="f">Femenino</option>                                            
                                            <option value="m">Masculino</option>                                            
                                    </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFecha" class="col-lg-2 control-label">Fecha Nacimiento</label>
                            <div class="col-lg-10">
                                 <input id="datepicker" class="form-control">
                                <input id="guardarFecha" type="hidden">
                                <input id="fecha-final" name="nacimiento" type="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDepartamento" class="col-lg-2 control-label">Depto y Localidad</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="inputLocalidad" name="localidad" data-error="Elija su localidad" required>
                                        {% for departamento in departamentos %}                                        
                                        {% for localidad in departamento.localidades %}
                                            <option data-otro="{{localidad.nombre == "Otro..." ? 'true' : 'false' }}" value="{{ localidad.id }}" {{ localidad.id == usuario.localidad.id ? 'selected="selected"' : ''}}>{{ departamento.nombre }}, {{ localidad.nombre }}</option>
                                        {% endfor %}
                                        {% endfor %}
                                        
                                    </select>
                            </div>
                        </div>
                        <div id="boxLocalidadOtro" class="form-group" style="display:none">
                            <label for="inputLocalidadOtro" class="col-lg-2 control-label">Otra Localidad</label>
                            <div class="col-lg-10">
                                <input id="inputLocalidadFinal" name="extra" type="text" class="form-control" placeholder="Especifique su localidad">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputOcupacion" class="col-lg-2 control-label">Ocupacion</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="inputOcupacion" name="ocupacionLista" data-error="Elija su ocupacion" required>
                                        {% set ocupacionEnLista = false %}
                                        {% for ocupacion in ocupaciones %}
                                            <option value="{{ ocupacion }}" {{ ocupacion == usuario.ocupacion ? 'selected="selected"' : ''}}>{{ ocupacion }}</option>
                                            {% if ocupacion == usuario.ocupacion %}
                                                {% set ocupacionEnLista = true %}
                                            {% endif %}
                                        {% endfor %}                                  
                                            <option value="otro" {{ocupacionEnLista == false ? 'selected="selected"' : ''}}>Otro...</option>                                            
                                    </select>
                            </div>
                        </div>
                         <div id="boxOtro" class="form-group" style="display:none">
                            <label for="inputOcupacionOtro" class="col-lg-2 control-label">Otra Ocupacion</label>
                            <div class="col-lg-10">
                                <input id="inputOcupacionFinal" name="ocupacion" type="text" class="form-control" placeholder="Especifique su ocupación">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputInstitucion" class="col-lg-2 control-label">Institucion</label>
                            <div class="col-lg-10">
                                <input name="institucion" type="text" class="form-control" id="inputInstitucion" placeholder="Nombre de la Institución">
                                <div class="help-block"><strong class="text-info">OPCIONAL</strong> Si pertenece a una institucion, especifique a cual</div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="col-xs-12"> 
                                <button type="submit" href="#" class="btn btn-submit btn-block">Modificar datos</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
	</div>
</div>
{% endblock body %} {% block scripts %}
<script src="{{ baseUrl() }}/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/jquery-ui/datepicker-es.js"></script>
<script>
  $(document).ready(function() {
         $('input[name="nombre"]').val('{{ usuario.nombre }}');
        $('input[name="apellido"]').val('{{ usuario.apellido }}');
        $('input[name="email"]').val('{{ usuario.email }}');
        $('input[name="telefono"]').val('{{ usuario.telefono }}');
         $('#guardarFecha').val('{{ usuario.nacimiento|date("Y-m-d") }}');
        $('select[name="localidad"]').val('{{ usuario.localidad.id }}');
        $('input[name="ocupacion"]').val('{{ usuario.ocupacion }}');
        $('select[name="genero"]').val('{{ usuario.genero }}');
        $('input[name="extra"]').val('{{ usuario.extra }}');
        $('input[name="institucion"]').val('{{ usuario.institucion }}');
        var tiempo = new Date('{{ usuario.nacimiento }}');
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'DD, dd MM yy',
            altField: "#guardarFecha",
            altFormat: "yy-mm-dd",
            yearRange: '1920:2010',
            defaultDate: tiempo
        });
        $("#datepicker").val('{{ usuario.nacimiento|date("d/m/Y")}}');
         var ocupacion = $('#inputOcupacion').find(':selected').val();
        console.log(ocupacion);
if(ocupacion == "otro"){
             $('#boxOtro').show();
        }
        var otro = $('#inputLocalidad').find(':selected').data('otro');
        console.log(otro);
if(otro == true){
             $('#boxLocalidadOtro').show();             
        }
    });

$("#inputOcupacion").change(function() {
    // jQuery
    var ocupacion = $(this).find(':selected').val();
if(ocupacion == "otro"){
            $('input[name="ocupacion"]').val('');
             $('#boxOtro').show();
        }
        if(ocupacion != "otro"){
             $('#boxOtro').hide();
        }
});


$("#inputLocalidad").change(function() {
    // jQuery
    var otro = $(this).find(':selected').data('otro');
if(otro == true){
    console.log(otro);
             $('#boxLocalidadOtro').show();
        }
        if(otro != true){
            console.log(otro);
             $('#boxLocalidadOtro').hide();
        }
});

    $('form').submit(function(e) {
        var fecha = $("#guardarFecha").val();
        $('#fecha-final').val(fecha);
        var ocupacion = $('#inputOcupacion').find(":selected").val();
        if(ocupacion != "otro"){
             $('#inputOcupacionFinal').val(ocupacion);
        }
    })


</script>
{% endblock scripts %}