{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Editar perfil{% endblock titulo %} {% block linkhead
%}
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets-costa/css/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets-costa/css/timepicker/jquery.timepicker.css" /> 
{% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="modificar-perfil" class="form derecho ">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
                 <img src="{{ baseUrl() }}/assets-costa/img/avatar/m-{{usuario.id % 6}}.svg" class="img-circle img-responsive" style="height:200px; margin: 0 auto;"
                data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario1" alt="Avatar">
				<h1>Modificar perfil</h1>
				<hr>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-1">
                <form action="{{ urlFor('runModifUsuario') }}" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <label for="inputNombre" class="col-lg-2 control-label">Nombre/s</label>
                            <div class="col-lg-10">
                                <input name="nombre" type="text" class="form-control" id="inputNombre" placeholder="Escriba su nombre">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputApellido" class="col-lg-2 control-label">Apellido</label>
                            <div class="col-lg-10">
                                <input name="apellido" type="text" class="form-control" id="inputEmail" placeholder="Escriba su apellido">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input name="email" type="text" class="form-control" id="inputEmail" disabled readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFecha" class="col-lg-2 control-label">Fecha Nacimiento</label>
                            <div class="col-lg-10">
                                 <input id="datepicker" class="form-control">
                                <input id="guardarFecha" type="hidden">
                                <input id="fecha-final" name="birthday" type="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDepartamento" class="col-lg-2 control-label">Departamento</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="inputLocalidad" name="address" data-error="Elija su localidad" required>
                                        {% for localidad in localidades %}
                                            <option value="{{ localidad }}" {{localidad == usuario.address ? 'selected="selected"' : ''}}>{{ localidad }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputOcupacion" class="col-lg-2 control-label">Ocupacion</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="inputOcupacion" name="title" data-error="Elija su ocupacion" required>
                                        {% for ocupacion in ocupaciones %}
                                            <option value="{{ ocupacion }}" {{ocupacion == usuario.title ? 'selected="selected"' : ''}}>{{ ocupacion }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="inputTelefono" class="col-lg-2 control-label">Teléfono</label>
                            <div class="col-lg-10">
                                <input name="telefono" type="text" class="form-control" id="inputTelefono" placeholder="Escriba su teléfono">
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="col-xs-12"> 
                                <button type="submit" href="#" class="btn btn-submit btn-block">Modificar datos</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
	</div>
</div>
{% endblock body %} {% block scripts %}
<script src="{{ baseUrl() }}/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/jquery-ui/datepicker-es.js"></script>
<script>
  $(document).ready(function() {
         $('input[name="nombre"]').val('{{ usuario.nombre }}');
        $('input[name="apellido"]').val('{{ usuario.apellido }}');
        $('input[name="email"]').val('{{ usuario.email }}');
        $('input[name="telefono"]').val('{{ usuario.telefono }}');
         $('#guardarFecha').val('{{ usuario.birthday|date("Y-m-d") }}');
        $('select[name="address"]').val('{{ usuario.address }}');
        $('select[name="title"]').val('{{ usuario.title }}');
        var tiempo = new Date('{{ usuario.birthday }}');
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'DD, dd MM yy',
            altField: "#guardarFecha",
            altFormat: "yy-mm-dd",
            yearRange: '1920:2010',
            defaultDate: tiempo
        });
        $("#datepicker").val('{{ usuario.birthday|date("d/m/Y")}}')
    });

    $('form').submit(function(e) {
        var fecha = $("#guardarFecha").val();
        console.log(fecha);
        $('#fecha-final').val(fecha);
    })


</script>
{% endblock scripts %}