{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}{{ usuario.nombre }} {{ usuario.apellido }}{% endblock titulo %} {% block linkhead %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css" /> {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="" class="form derecho">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
                 <img src="{{ baseUrl() }}/assets-costa/img/avatar/{{usuario.genero}}-{{usuario.id % 6}}.svg" class="img-circle img-responsive" style="height:200px; margin: 0 auto;"
                data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario1" alt="Avatar">
				<h1>{{ usuario.nombre }} {{ usuario.apellido }} 
                     </h1>
                     {% if usuario.id == user.id %}
                     <ul class="list-inline">
                <li><a href="{{urlFor('shwModifUsuario')}}">Editar Perfil</a></li>
                <li><a href="{{urlFor('shwModifClvUsuario')}}">Cambiar contraseña</a></li>
            </ul>
                     {% endif %}
            <ul class="list-inline">
                <li><strong>Fecha de nacimiento:</strong> {{ usuario.birthday|date("d/m/Y")}}</li>
                <li><strong>Localidad:</strong> {{ usuario.localidad.nombre }}</li>
                <li><strong>Ocupacion:</strong> {{ usuario.ocupacion }}</li>
                {% if usuario.institucion != '' %}
                    <li><strong>Ocupacion:</strong> {{ usuario.institucion }}</li>
                    {% endif %}
            </ul>
				<hr>
			</div>
		</div>
	</div>
<div class="container">
    <div class="row">
       <div class="col-sm-12">
            <h4 class="black">Ultimos Comentarios <small>(Total: {{usuario.comentarios_count}})</small></h4>
            <div class="comentarios-user">
              {% if comentarios|length > 0 %} {% for comentario in comentarios %}
              <div class="">
                <blockquote>
                <p class="">{{ comentario.cuerpo }}</p>
                <p class="lead"><small>Comentario hecho el {{ comentario.created_at|date("d/m/Y")}}</small></p>
                </blockquote>
                <hr>
              </div>
                {% endfor%} {% else %}
                <blockquote>
                <p>No hay comentarios..</p>
                </blockquote>
                {% endif %}         
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %} 
{% block scripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.comentarios-user').slick({
             dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
        });
        });
</script>
{% endblock scripts %}