    <div class="barra-header"></div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container" style="position:relative;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" aria-expanded="false" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-fw"></i>
            </button>
            {% if user is not empty %}
            <a href="javascript:void(0)" class="common-menu user-menu-show login-btn logged pull-right"><span class="hidden-sm">{{ user.nombre|upper }}</span><img src="{{ baseUrl() }}/assets-costa/img/avatar/{{user.genero}}-{{user.id % 6}}.svg" class="img-circle img-avatar" ><i class="fa fa-caret-down fa-fw"></i></a>
            <a href="javascript:void(0)" class="user-menu common-menu-show login-btn logged pull-right" style="display:none">VOLVER AL MENÚ<i class="fa fa-caret-up fa-fw"></i></a>
            {% else %}
            <a href="{{urlFor('shwLogin')}}" class="login-btn pull-right">INGRESAR<img class="icono-login" src="{{ baseUrl() }}/assets-costa/img/login.svg" alt=""></a>
            {% endif %}
                <a class="navbar-brand hidden-lg hidden-md" href="{{urlFor('shwIndex')}}"><img src="{{ baseUrl() }}/assets-costa/img/logo-mobile.svg" class="logo img-responsive" alt=""></a>
                <a class="navbar-brand hidden-xs hidden-sm" href="{{urlFor('shwIndex')}}"><img src="{{ baseUrl() }}/assets-costa/img/logo.svg" class="logo img-responsive" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if user is not empty %}
                <ul class="nav navbar-nav user-menu" style="display:none">                  
                    <li><a href="{{urlFor('shwUsuario', {'idUsu': user.id})}}">Ver perfil</a></li>
                    {% if user and (user.patrulla_id != null) %}
<li><a href="{{urlFor('shwIndexAdmin')}}">Administrar</a></li>
                    {% endif %}
                    <li><a href="javascript:logout()">Cerrar sesión<img class="icono-login" src="{{ baseUrl() }}/assets-costa/img/logout.svg" alt=""></a></li>
                    <li class="btn-ingreso hidden-sm hidden-md hidden-lg">
                        <a href="javascript:void(0)" class="user-menu common-menu-show">VOLVER AL MENÚ<i class="fa fa-caret-up fa-fw"></i></a>
                        </li>                                        
                        <form id="form-salir" action="{{ urlFor('runLogout') }}" method="POST"></form>
                        {% endif %}
                </ul>
                <ul class="nav navbar-nav common-menu">                  
                    <li class="{{ nav == 1 ? 'active' : '' }}"><a href="{{urlFor('shwAcerca')}}">De dónde partimos</a></li>
                    <li class="{{ nav == 2 ? 'active' : '' }}"><a href="{{urlFor('shwActividades')}}">Actividades</a></li>
                    <li class="{{ nav == 3 ? 'active' : '' }}"><a href="{{urlFor('shwAreas')}}">Áreas de acción</a></li>
                    {% if user is not empty %}
                    <li class="btn-ingreso hidden-sm hidden-md hidden-lg">
                        <a href="#" class="common-menu user-menu-show">{{ user.nombre }} <img src="{{ baseUrl() }}/assets-costa/img/avatar/{{user.genero}}-{{user.id % 6}}.svg" class="img-circle img-avatar" ><i class="fa fa-caret-down fa-fw"></i></a>
                        </li>                    
                    {% else %}
                    <li class="btn-ingreso hidden-sm hidden-md hidden-lg"><a href="{{urlFor('shwLogin')}}">INGRESAR<img class="icono-login" src="{{ baseUrl() }}/assets-costa/img/login.svg" alt=""></a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>