{% extends "costa/master.twig" %} {% set nav = 3 %} {% block titulo %}Areas de Accion{% endblock titulo %} {% block linkhead
%} {% endblock %} {% block header %}
<div id="simple" class="header-bg area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
                <h1>Areas de acci칩n</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %} {% block body %}
<div id="area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titulo">
                    <img src="{{ baseUrl() }}/assets-costa/img/ejes/familia.svg" class="img-responsive" alt="">
                    <h1>Calidad Social<a href="{{urlFor('shwAreas')}}" class="pull-right">Volver <i class="fa fa-reply fa-fw"></i></a></h1>
                </div>
            </div>
        </div>
        <div class="row area">
            <div class="col-xs-12">
                <div class="box color-0">
                    <div class="row">
                        <div class="col col-md-6 col-md-offset-1 col-sm-12">
                            <h3>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus alias, quae tempore consequatur
                                in voluptas beatae nam assumenda at nostrum, ab</h3>
                            <div class="compartir-box">
                                <p>Compartir:
                                    <a href="#"><img src="{{baseUrl()}}/assets-costa/img/sharer/phone.svg" alt="Whatsapp"></a>
                                    <a href="#"><img src="{{baseUrl()}}/assets-costa/img/sharer/facebook.svg" alt="facebook"></a>
                                    <a href="#"><img src="{{baseUrl()}}/assets-costa/img/sharer/googleplus.svg" alt="Google+"></a>
                                    <a href="#"><img src="{{baseUrl()}}/assets-costa/img/sharer/twitter.svg" alt="Twitter"></a>
                                </p>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-12">
                            <div class="clearfix">
                                <a href="#" class="btn-pill pull-right">Particip치 <img src="{{baseUrl()}}/assets-costa/img/area/comments.svg" alt=""> 4</a>
                            </div>
                            <div class="clearfix">
                                <a href="#" class="btn-pill importante pull-right">Muy importante&nbsp;&nbsp;&nbsp;<span class="bold">2</span></a>
                            </div>
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a href="#" class="btn-pill importante">Importante&nbsp;&nbsp;&nbsp;<span class="bold">3</span></a>
                                    <a href="#" class="btn-pill importante">Poco importante&nbsp;&nbsp;&nbsp;<span class="bold">0</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box color-1">
                    <div class="row">
                        <div class="col col-md-6 col-md-offset-1 col-sm-12">
                            <h3>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus alias, quae tempore consequatur
                                in voluptas beatae nam assumenda at nostrum, ab</h3>
                            <div class="compartir-box">
                                <p>Compartir:
                                    <a href="#"><img src="{{baseUrl()}}/assets-costa/img/avatar/f-1.svg" alt=""></a>
                                </p>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-12">
                            <div class="clearfix">
                                <a href="#" class="btn-pill pull-right">Particip치 <i class="fa fa-comments fa-fw"></i>4</a>
                            </div>
                            <div class="clearfix">
                                <a href="#" class="btn-pill importante pull-right">Muy importante&nbsp;&nbsp;&nbsp;<span class="bold">2</span></a>
                            </div>
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a href="#" class="btn-pill importante">Importante&nbsp;&nbsp;&nbsp;<span class="bold">3</span></a>
                                    <a href="#" class="btn-pill importante">Poco importante&nbsp;&nbsp;&nbsp;<span class="bold">0</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box color-2">
                    <div class="row">
                        <div class="col col-md-6 col-md-offset-1 col-sm-12">
                            <h3>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus alias, quae tempore consequatur
                                in voluptas beatae nam assumenda at nostrum, ab</h3>
                            <div class="compartir-box">
                                <p>Compartir:
                                    <a href="#"><img src="{{baseUrl()}}/assets-costa/img/avatar/f-1.svg" alt=""></a>
                                </p>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-12">
                            <div class="clearfix">
                                <a href="#" class="btn-pill pull-right">Particip치 <i class="fa fa-comments fa-fw"></i>4</a>
                            </div>
                            <div class="clearfix">
                                <a href="#" class="btn-pill importante pull-right">Muy importante&nbsp;&nbsp;&nbsp;<span class="bold">2</span></a>
                            </div>
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a href="#" class="btn-pill importante">Importante&nbsp;&nbsp;&nbsp;<span class="bold">3</span></a>
                                    <a href="#" class="btn-pill importante">Poco importante&nbsp;&nbsp;&nbsp;<span class="bold">0</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %} {% block scripts %} {% endblock scripts %}