{% set share_link = 'https://www.santafe.gov.ar/atodacosta/public/index.php/area/' ~ derecho.id %} {% set twitter_txt = 'Estoy debatiendo acerca del derecho "' ~ derecho.titulo|lower ~
'" ¡Animate vos tambien!' %} {% extends "costa/master.twig" %} {% set nav = 3 %} {% block titulo %}{{ derecho.titulo }}{%
endblock titulo %} {% block opengraph %}
<meta property="og:url" content="{{derecho.link}}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ derecho.titulo }} - A toda Costa" />
<meta property="og:description" content="Un plan de desarrollo sustentable para Garay y San Javier. Enterate más acerca de esta area de acción. Te invitamos a saber más y a que realices tu aporte directamente o a través de la organización de la que formes parte."
/>
<meta property="og:image" content="{{ baseUrl() }}/assets-costa/img/sharer.png" /> {% endblock %} {% block linkhead %} {% endblock %} {% block header %}
<div id="simple" class="header-bg area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
                <h1>Areas de acción</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %} {% block body %}
<div id="area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-11">
                <div class="titulo">
                    <h1 class="hidden-sm hidden-md hidden-lg"><a href="{{urlFor('shwAreas')}}" class="pull-right">Volver <i class="fa fa-reply fa-fw"></i></a></h1>
                    <img src="{{ baseUrl() }}/assets-costa/img/ejes/{{derecho.id}}.svg" class="img-responsive" alt="">
                    <h1>{{ derecho.titulo }}<a href="{{urlFor('shwAreas')}}" class="pull-right hidden-xs">Volver <i class="fa fa-reply fa-fw"></i></a></h1>
                </div>
            </div>
        </div>
        <div class="row area">
            <div class="col-xs-12">
                {% for seccion in derecho.secciones %} {% set comentariosListar = seccion.comentarios|slice(0,8) %}
                {% set botonVerTodos = true %}
                {% set comentariosSeccion = seccion.comentarios|length %} {% for comentario in seccion.comentarios
                %} {% set comentariosSeccion = comentariosSeccion + comentario.respuestas|length %} {% endfor %}
                {% set seccionColor = loop.index - 1 %}
                <div class="box color-{{(loop.index-1) % 3}}">
                    
                        <div class="row">
                            <div class="col col-sm-5 col-md-6 col-sm-offset-1">
                                <h3>{{loop.index}}. {{seccion.descripcion}}</h3>
                                <div class="compartir-box hidden-xs hidden-sm">
                                    <p>Compartir:
                                        <a href="#" class="hidden-md hidden-lg hidden-sm" data-toggle="tooltip" title="Whatsapp"><img src="{{baseUrl()}}/assets-costa/img/sharer/phone.svg" alt="Whatsapp"></a>
                                        <a href="https://www.facebook.com/sharer.php?u={{ share_link }}" target="_blank" data-toggle="tooltip" title="Facebook"><img src="{{baseUrl()}}/assets-costa/img/sharer/facebook.svg" alt="facebook"></a>
                                        <a href="https://plus.google.com/share?url={{ share_link }}" target="_blank" data-toggle="tooltip" title="Google+"><img src="{{baseUrl()}}/assets-costa/img/sharer/googleplus.svg" alt="Google+"></a>
                                        <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{ share_link }}" target="_blank" data-toggle="tooltip"
                                            title="Twitter"><img src="{{baseUrl()}}/assets-costa/img/sharer/twitter.svg" alt="Twitter"></a>
                                    </p>
                                </div>
                            </div>
                            <div class="col col-sm-5 col-md-4 hidden-xs">
                                <a href="javascript:toggleComments({{ seccion.id }})" class="btn-pill pull-right">Participá <img src="{{baseUrl()}}/assets-costa/img/area/comments.svg" alt=""> {{ comentariosSeccion }}</a>
                                <div class="clearfix">
                                    <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',3)' : urlFor('shwLogin')}}" class="btn-pill importante pull-right">Muy importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_alta}}</span></a>
                                </div>
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',2)' : urlFor('shwLogin')}}" class="btn-pill importante">Importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_media}}</span></a>
                                        <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',1)' : urlFor('shwLogin')}}" class="btn-pill importante">Poco importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_baja}}</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-4 col-sm-12 hidden-sm hidden-md hidden-lg">
                                <a href="javascript:toggleComments({{ seccion.id }})" class="btn-pill" style="margin-top:15px">Participá <img src="{{baseUrl()}}/assets-costa/img/area/comments.svg" alt=""> {{ comentariosSeccion }}</a>
                                <div class="clearfix">
                                    <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',3)' : urlFor('shwLogin')}}" class="btn-pill importante">Muy importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_alta}}</span></a>
                                </div>
                                <div class="clearfix">
                                    <div class="">
                                        <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',2)' : urlFor('shwLogin')}}" class="btn-pill importante">Importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_media}}</span></a>
                                        <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',1)' : urlFor('shwLogin')}}" class="btn-pill importante">Poco importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_baja}}</span></a>
                                    </div>
                                </div>
                                <div class="compartir-box hidden-md hidden-lg" style="margin-top:25px">
                                    <p>Compartir:
                                        <a href="whatsapp://send?text={{ twitter_txt|url_encode }}%20{{ share_link }}" class="hidden-md hidden-lg hidden-sm" data-toggle="tooltip" title="Whatsapp"><img src="{{baseUrl()}}/assets-costa/img/sharer/phone.svg" alt="Whatsapp"></a>
                                        <a href="https://www.facebook.com/sharer.php?u={{ share_link }}" target="_blank" data-toggle="tooltip" title="Facebook"><img src="{{baseUrl()}}/assets-costa/img/sharer/facebook.svg" alt="facebook"></a>
                                        <a href="https://plus.google.com/share?url={{ share_link }}" target="_blank" data-toggle="tooltip" title="Google+"><img src="{{baseUrl()}}/assets-costa/img/sharer/googleplus.svg" alt="Google+"></a>
                                        <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{ share_link }}" target="_blank" data-toggle="tooltip"
                                            title="Twitter"><img src="{{baseUrl()}}/assets-costa/img/sharer/twitter.svg" alt="Twitter"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div id="comments-{{ seccion.id }}" class="row" style="display:none">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                         {% include 'costa/contenido/derecho/comentario.twig' %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% if user and (user.patrulla_id != null) %} {% include 'lpe/contenido/moderar.twig' %} {% endif %}
<form id="votarSeccion" method="POST">
    <input type="hidden" type="text" name="postura">
</form>
<form id="votarComentario" method="POST">
    <input type="text" name="valor" style="display:none">
</form>
{% endblock body %} {% block scripts %}
<script src="{{ baseUrl() }}/assets-costa/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets-costa/js/masonry.pkgd.min.js"></script>
<script>
    var countletter = 0;
    $(document).ready(function () {
        autosize($('textarea'));
        // $('body').scrollspy({ target: '#secciones' })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('.grid').masonry({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: '.grid-item',
            // use element for option
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
    });

    $(function () {
        $('a[href="#derechos"]').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
                this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

    $('td.toggle-comentarios').click(function () {
        //$('#listaComentarios').show(150);
        $('#dejarComentario').focus();
        $('html, body').animate({
            scrollTop: $("#dejarComentario").offset().top - 250
        }, 1000);
    });

    var votarSeccion = function (id, valor) {
        var action_no = "{{ urlFor('runVotarSeccion') }}";
        $('#votarSeccion').find('input[name="postura"]').val(valor)
        var action_yes = action_no.replace(':idSec', id);
        $('#votarSeccion').attr('action', action_yes);
        $('#votarSeccion').submit();
    }

    var verBoxResponder = function (id) {
        $('#respComentario-' + id).toggle();
        $('.grid').masonry();
    }

    $("textarea").keydown(function () {
        countletter += 1;
        if (countletter == 10) {
            countletter = 0
            $('.grid').masonry();
        }
    });
    var toggleComments = function (id) {
        $('#comments-' + id).toggle("fast", function () {
            $('.grid').masonry();
        });
    }

    var votarComentario = function (id, valor) {
        var action_no = "{{ urlFor('runVotarComenta') }}";
        $('#votarComentario').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idCom', id);
        $('#votarComentario').attr('action', action_yes);
        $('#votarComentario').submit();
    }

    var eliminarComentario = function (id) {
        $('#eliminarComentario').find('input[name="id"]').val(id)
        $('#eliminarComentario').submit();
    }
</script>
{% endblock scripts %}
