{% set share_link = derecho.link %}
{% set twitter_txt = 'Estoy debatiendo acerca del derecho "' ~ derecho.titulo|lower ~ '" ¡Animate vos tambien! ' %}

{% extends "costa/master.twig" %} {% set nav = 3 %} {% block titulo %}{{ derecho.titulo }}{% endblock titulo %}

{% block opengraph %}
<meta property="og:url"                content="{{derecho.link}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ derecho.titulo }} - A toda Costa" />
<meta property="og:description"        content="Un plan de desarrollo sustentable para Garay y San Javier. Enterate más acerca de esta area de acción. Te invitamos a saber más y a que realices tu aporte directamente o a través de la organización de la que formes parte." />
<meta property="og:image"              content="{{ baseUrl() }}/assets-costa/img/sharer.png" />
{% endblock %}
 {% block
linkhead %} {% endblock %} {% block header %}
<div id="simple" class="header-bg area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
                <h1>Areas de acción</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %} {% block body %}
<div id="area">
    <div class="container">
        <div class="row">
            <div class="col-xs-11">
                <div class="titulo">
                    <img src="{{ baseUrl() }}/assets-costa/img/ejes/{{derecho.id}}.svg" class="img-responsive" alt="">
                    <h1>{{ derecho.titulo }}<a href="{{urlFor('shwAreas')}}" class="pull-right">Volver <i class="fa fa-reply fa-fw"></i></a></h1>
                </div>
            </div>
        </div>
        <div class="row area">
            <div class="col-xs-12">
                {% for seccion in derecho.secciones %} {% set comentariosSeccion = seccion.comentarios|length %} {% for comentario in seccion.comentarios
                %} {% set comentariosSeccion = comentariosSeccion + comentario.respuestas|length %} {% endfor %}
                <div class="box color-{{(loop.index-1) % 3}}">
                    <div class="row">
                        <div class="col col-md-6 col-md-offset-1 col-sm-12">
                            <h3>{{loop.index}}. {{seccion.descripcion}}</h3>
                            <div class="compartir-box">
                                <p>Compartir:
                                    <a href="#" data-toggle="tooltip" title="Whatsapp"><img src="{{baseUrl()}}/assets-costa/img/sharer/phone.svg" alt="Whatsapp"></a>
                                    <a href="https://www.facebook.com/sharer.php?u={{ share_link }}" target="_blank" data-toggle="tooltip" title="Facebook"><img src="{{baseUrl()}}/assets-costa/img/sharer/facebook.svg" alt="facebook"></a>
                                    <a href="https://plus.google.com/share?url={{ share_link }}" target="_blank" data-toggle="tooltip" title="Google+"><img src="{{baseUrl()}}/assets-costa/img/sharer/googleplus.svg" alt="Google+"></a>
                                    <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{ share_link }}&hashtags=nlpe" target="_blank" data-toggle="tooltip" title="Twitter"><img src="{{baseUrl()}}/assets-costa/img/sharer/twitter.svg" alt="Twitter"></a>
                                </p>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-12">
                            <!--<a href="javascript:void(0)" data-toggle="modal" data-target="#comentarios{{ seccion.id }}" class="btn-pill pull-right">Participá <img src="{{baseUrl()}}/assets-costa/img/area/comments.svg" alt=""> {{ comentariosSeccion }}</a>-->
                            <a href="javascript:toggleComments({{ seccion.id }})" class="btn-pill pull-right">Participá <img src="{{baseUrl()}}/assets-costa/img/area/comments.svg" alt=""> {{ comentariosSeccion }}</a>
                        <div class="clearfix">
                            <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',3)' : urlFor('shwLogin')}}" class="btn-pill importante pull-right">Muy importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_alta}}</span></a>
                        </div>
                        <div class="clearfix">
                            <div class="pull-right">
                                <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',2)' : urlFor('shwLogin')}}" class="btn-pill importante">Importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_media}}</span></a>
                                <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',1)' : urlFor('shwLogin')}}" class="btn-pill importante">Poco importante&nbsp;&nbsp;&nbsp;<span class="bold">{{seccion.votos_baja}}</span></a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            <div id="comments-{{ seccion.id }}" class="row" style="display:none">
                <div class="col-xs-12">
                    {% if seccion.comentarios|length > 0 %}
                    <div class="grid">
                        <div class="grid-sizer"></div>
                        {% if user is not null %}
                        <div class="grid-item">
                            <div class="comentario-container">
                                <a href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}" class="pull-left">
                                    <img alt="image" class="img-circle" src="{{ baseUrl() }}/assets-costa/img/avatar/m-{{respuesta.autor.id % 6}}.svg">
                                </a>
                                <div class="media-body ">
                                    <strong>{{ comentario.autor.es_moderador ? "<i class='fa fa-shield fa-fw' title='Moderador'></i>" }} {{ user.nombre|upper }} {{ user.apellido|upper }}</strong>
                                    <form class="form-horizontal" action="{{ urlFor('runComentar', {'tipoRaiz': 'seccion' , 'idRaiz': seccion.id}) }}" method="POST">
                                        <textarea name="cuerpo" class="form-control input-sm" rows="1" placeholder="Escriba aqui su comentario..." style="resize: none;"></textarea>
                                        <div class="clearfix" style="margin-top: 10px">
                                            <button type="submit" class=" pull-right btn btn-primary btn-xs">Enviar comentario</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
                        </div>
                        {% else %}
                        <div class="grid-item">
                                <div class="no-login color-{{(seccion.id-1) % 3}}">
                                    <h3>¿Desea participar comentando?</h3>
                                    <h3><a href="{{urlFor('shwCrearUsuario')}}" class="btn btn-default">Registrese</a> o <a href="{{urlFor('shwLogin')}}" class="btn btn-default">Inicie sesión</a></h3>
                                </div>
                        </div>

                         {% endif %} {% for comentario in seccion.comentarios|slice(0,5) %}
                        <div class="grid-item">
                            <div class="comentario-container">
                                <a href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}" class="pull-left">
                                    <img alt="image" class="img-circle" src="{{ baseUrl() }}/assets-costa/img/avatar/m-{{comentario.autor.id % 6}}.svg">
                                </a>
                                <div class="media-body ">
                                    <strong>{{ comentario.autor.es_moderador ? "<i class='fa fa-shield fa-fw' title='Moderador'></i>" }} {{ comentario.autor.nombre|upper }} {{ comentario.autor.apellido|upper }}</strong>                                    hizo un comentario {% if user and (user.es_moderador) %}
                                    <a href="javascript:eliminarComentario({{comentario.id}})" class="btn btn-xs btn-warning pull-right" style="margin-left:5px;"
                                        data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"><i class="fa fa-times"></i></a>                                    {% endif %}
                                    <br>
                                    <small class="text-muted">{{ comentario.created_at|date("d-M-Y") }}</small>
                                    <div class="comment-cuerpo" style="margin-top:5px; margin-bottom:5px;">
                                        {{ comentario.cuerpo|nl2br }}
                                    </div>
                                    <div class="text-right" style="margin-top:3px;">
                                        {% if user is not empty %}
                                        <a href="javascript:votarComentario({{comentario.id}},1)" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="bottom"
                                            data-original-title="Me gusta"><i class="fa fa-thumbs-up"></i> <b>{{comentario.karma}}</b></a>
                                        <a href="javascript:votarComentario({{comentario.id}},-1)" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom"
                                            data-original-title="No me gusta"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>
                                        <a href="javascript:verBoxResponder({{comentario.id}})" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom"
                                            data-original-title="Responder"><i class="fa fa-reply"></i> <b>{{comentario.respuestas|length}}</b></a>                                        {% else %}
                                        <a href="{{urlFor('shwLogin')}}" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="bottom" data-original-title="Me gusta"><i class="fa fa-thumbs-up"></i> <b>{{comentario.karma}}</b></a>
                                        <a href="{{urlFor('shwLogin')}}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="No me gusta"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>
                                        <a href="{{urlFor('shwLogin')}}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Responder"><i class="fa fa-reply"></i> <b>{{comentario.respuestas|length}}</b></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="lista-respuestas" style="margin-top:20px; padding-left:40px;">
                                <form class="form-horizontal" action="{{ urlFor('runComentar', {'tipoRaiz': 'comentario', 'idRaiz': comentario.id }) }}"
                                    method="POST">
                                    <div id="respComentario-{{comentario.id}}" class="comentario-container" style="display:none;">
                                        <a href="{{ urlFor('shwUsuario',{'idUsu': user.id}) }}" class="pull-left">
                                            <img alt="image" class="img-rounded" src="{{ baseUrl() }}/assets-costa/img/avatar/m-{{user.id % 6}}.svg" style="width:20px;">
                                        </a>
                                        <div class="media-body">
                                            <strong>{{ user.es_moderador ? "<i class='fa fa-shield fa-fw' title='Moderador'></i>" }} {{ user.nombre|upper }} {{ user.apellido|upper }}</strong>
                                            <small class="text-muted">en respuesta a {{ comentario.autor.nombre|upper }} {{ comoentario.autor.apellido|upper }}</small>
                                            <textarea name="cuerpo" class="form-control respuesta" rows="1"></textarea>
                                            <div class="clearfix" style="margin: 10px 0;">
                                                <button type="submit" class="pull-right btn btn-xs btn-success "><i class="fa fa-check fa-fw"></i> Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% if comentario.respuestas|length > 0 %} {% for respuesta in comentario.respuestas %}
                                <div class="comentario-container" style="margin-bottom:10px;">
                                    <a href="{{ urlFor('shwUsuario',{'idUsu': respuesta.autor.id}) }}" class="pull-left">
                                        <img alt="image" class="img-rounded" src="{{ baseUrl() }}/assets-costa/img/avatar/m-{{respuesta.autor.id % 6}}.svg" style="width:20px;">
                                    </a>
                                    <div class="media-body">
                                        <div class="btn-group-vertical btn-group-xs pull-right" style="margin-left: 5px;">
                                            {% if user is not empty %} {% if user and (user.es_moderador) %}
                                            <a href="javascript:eliminarComentario({{respuesta.id}})" class="btn btn-warning"><i class="fa fa-times"></i></a>                                            {% endif %}
                                            <a href="javascript:votarComentario({{respuesta.id}},1)" class="btn btn-default"><i class="fa fa-thumbs-up"></i> <b>{{respuesta.karma}}</b></a>
                                            <a href="javascript:votarComentario({{respuesta.id}},-1)" class="btn btn-default"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>                                            {% else %}
                                            <a href="{{urlFor('shwLogin')}}" class="btn btn-default"><i class="fa fa-thumbs-up"></i> <b>{{respuesta.karma}}</b></a>
                                            <a href="{{urlFor('shwLogin')}}" class="btn btn-default"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>                                            {% endif %}
                                        </div>
                                        <strong>{{ respuesta.autor.es_moderador ? "<i class='fa fa-shield fa-fw' title='Moderador'></i>" }} {{ respuesta.autor.nombre|upper }} {{ respuesta.autor.apellido|upper }}</strong><i> <span class="respuesta">{{ respuesta.cuerpo|nl2br }}</span></i>
                                    </div>
                                </div>
                                {% endfor %} {% endif %}
                            </div>
                            <hr>
                        </div>
                        {% endfor %}
                        <div class="grid-item">
                            <a href="#" class="ver-mas">
                                <div class="ver-mas-container color-{{(seccion.id-1) % 3}}">
                                    <h4>Ver todos los comentarios</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="text-center">
                        <h3 class="black gris">No hay comentarios<br><small>¡Sea el primero dejando su comentario!</small></h3>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
{% if user and (user.patrulla_id != null) %}
 {% include 'lpe/contenido/moderar.twig' %}
  {% endif %}
<form id="votarSeccion" method="POST">
    <input type="hidden" type="text" name="postura">
</form>
<form id="votarComentario" method="POST">
    <input type="text" name="valor" style="display:none">
</form>
{% endblock body %} {% block scripts %}
<script src="{{ baseUrl() }}/assets-costa/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets-costa/js/masonry.pkgd.min.js"></script>
<script>
    var countletter = 0;
    $(document).ready(function () {
        autosize($('textarea'));
        // $('body').scrollspy({ target: '#secciones' })
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('.grid').masonry({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: '.grid-item',
            // use element for option
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
    });

    $(function () {
        $('a[href="#derechos"]').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
                this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

    $('td.toggle-comentarios').click(function () {
        //$('#listaComentarios').show(150);
        $('#dejarComentario').focus();
        $('html, body').animate({
            scrollTop: $("#dejarComentario").offset().top - 250
        }, 1000);
    });

      var votarSeccion = function(id, valor) {
        var action_no = "{{ urlFor('runVotarSeccion') }}";
        $('#votarSeccion').find('input[name="postura"]').val(valor)
        var action_yes = action_no.replace(':idSec', id);
        $('#votarSeccion').attr('action', action_yes);
        $('#votarSeccion').submit();
    }

    var verBoxResponder = function (id) {
        $('#respComentario-' + id).toggle();
        $('.grid').masonry();
    }

    $("textarea").keydown(function () {
        countletter += 1;
        if (countletter == 10) {
            countletter = 0
            $('.grid').masonry();
        }
    });
    var toggleComments = function (id) {
        $('#comments-' + id).toggle( "fast", function() {
    $('.grid').masonry();
  });
    }

    var votarComentario = function (id, valor) {
        var action_no = "{{ urlFor('runVotarComenta') }}";
        $('#votarComentario').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idCom', id);
        $('#votarComentario').attr('action', action_yes);
        $('#votarComentario').submit();
    }

    var eliminarComentario = function (id) {
        $('#eliminarComentario').find('input[name="id"]').val(id)
        $('#eliminarComentario').submit();
    }
</script>
{% endblock scripts %}