{% extends "costa/master.twig" %}
 {% set nav = 1 %} 
 {% block titulo %}De donde partimos{% endblock titulo %} 
 {% block linkhead %} 
 {% endblock %} 
 {% block header %}
<div id="simple" class="header-bg acerca">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
                <h1>De dónde partimos</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %}
 {% block body %} 
<div id="acerca">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
                <p>
                    El Plan “A Toda Costa” se asienta en un proceso de planificación estratégica participativa iniciada en el año 2008, entre el
                    gobierno provincial, los gobiernos locales y los actores claves del territorio, en el marco del <span class="text-amarillo"><b>Plan
                    Estratégico Provincial Visión 2030</b></span>.<br> Revisa y retoma los objetivos, demandas y proyectos priorizados en
                    el <a href="https://www.santafe.gov.ar/index.php/web/content/view/full/196667/(subtema)/93665" class="text-verde"><b><u>Plan Estratégico de Turismo de la Provincia de Santa Fe</u></b></a> para el corredor de la Ruta N° 1 (2011-2015)
                    y en las Agendas de Gestión para los Departamentos Garay y San Javier 2016-2019, diseñadas para cada
                    uno de ellos, acordadas en los Foros para el Desarrollo Departamental junto a ciudadanos, autoridades
                    locales, legisladores, sector productivo y social.
                </p>
            </div>
        </div>
    </div>
</div> 
<div id="participa">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
                <h1 class="text-amarillo">¿Querés formar parte del plan A Toda Costa?</h1>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 text-center">
                <a href="{{ urlFor('shwAreas') }}" class="btn btn-pill btn-amarillo">Participá</a>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <img src="{{ baseUrl() }}/assets-costa/img/hands.svg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 ">
              <div class="line amarillo"></div>
            </div>
        </div>
    </div>
</div>

<div id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="box">
                    <img src="{{ baseUrl() }}/assets-costa/img/mapa-stf.png" class="mapa" alt="">
                    <h1 class="hidden-md hidden-lg">Agendas de gestión<br>estratégica 2016 - 2019</h1>
                    <h1 class="hidden-xs hidden-sm">Agendas de gestión estratégica 2016 - 2019</h1>
                    <ul class="fa-ul">
                        <li><i class="fa fa-link fa-fw"></i> <a href="{{baseUrl()}}/assets-costa/pdf/agenda-garay.pdf" target="_blank"><u>Descargar Proyectos para el Departamento Garay</u></a></li>
                        <li><i class="fa fa-link fa-fw"></i> <a href="{{baseUrl()}}/assets-costa/pdf/agenda-san-javier.pdf" target="_blank"><u>Descargar Proyectos para el Departamento San Javier</u></a></li>
                    </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %} {% endblock scripts %}
