{% extends "costa/master.twig" %} {% set nav = 2 %} {% block titulo %}Actividades{% endblock titulo %} {% block linkhead
%} {% endblock %} {% block header %}
<div id="simple" class="header-bg actividades">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
                <h1>Actividades</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %} {% block body %}
<div id="actividades">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-left">
                <p class="introduccion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia expedita maiores laboriosam quasi dolore, blanditiis ab
                    sed sit sequi, ducimus eaque, officiis itaque? Voluptatum sed, aperiam temporibus ipsam itaque consequuntur?
                </p>
            </div>
        </div>
        {% for actividad in actividades %}
        <div class="actividad">
            <div class="row fila-primera">
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 text-left">
                    <div class="linea width-xs"></div>
                    <h1 class="black">{{actividad.fecha_desde|date("d/m")}}{{ actividad.fecha_hasta != null ? ' al ' ~ actividad.fecha_hasta|date("d/m") : ''}}</h1>
                     <p class="aux-xs"><i>{{actividad.lugar}}</i></p>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6 text-left">
                    <div class="linea"></div>
                    <h1 class="bold">{{actividad.titulo}}</h1>
                </div>
            </div>
            <div class="row fila-segunda">
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 text-left">
                    <p class="hidden-xs"><i>{{actividad.lugar}}</i></p>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6 text-left">
                    <p>{{actividad.descripcion|nl2br}}</p>
                    {% if actividad.info != null %}
                    <p class="more-info">Mas informacion: <a href="http://{{actividad.info}}" style="text-decoration:underline">{{actividad.info}}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
</div>
{% endblock body %} {% block scripts %} {% endblock scripts %}