{% extends "costa/master.twig" %} {% set nav = 3 %} {% block titulo %}Areas de Accion{% endblock titulo %} {% block linkhead
%} {% endblock %} {% block header %}
<div id="simple" class="header-bg areas">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
                <h1>Áreas de acción</h1>
            </div>
        </div>
    </div>
</div>
{% endblock header %} {% block body %}
<div id="areas">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-left">
                <p class="introduccion">
                    <b>¿Cuáles son las principales acciones que considera necesario priorizar en A Toda Costa?</b>
                </p>
            </div>
        </div>
        {% for area in derechos|slice(0,6) %}
        <div class="area">
            <div class="col-xs-12 col-sm-2 col-sm-offset-1 col-md-1 col-md-offset-2">
                <img src="{{ baseUrl() }}/assets-costa/img/ejes/{{area.id}}.svg" class="img-responsive" alt="">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7">
                <h1>{{area.titulo}}</h1>
                <p>{{area.contenible.descripcion}}</p>
                    <a href="{{urlFor('shwDerecho', {'idDer':area.contenible_id})}}" class="btn btn-primary btn-amarillo">Ver más</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %} {% block scripts %} {% endblock scripts %}
