{% extends "costa/master.twig" %}

{# set nav = 0 #}

 {% block titulo %}Inicio{% endblock titulo %} {% block linkhead %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css" /> {% endblock %} {% block header %}
<div id="home" class="header-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1><span class="ligero">Un plan de</span> <b>desarrollo<br>
sustentable para Garay<br>
y San Javier</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <a href="#" class="btn btn-blanco btn-block">¿Como puedo participar?</a>
            </div>
        </div>
    </div>
</div>
<div class="white-dots hidden-xs hidden-sm">
    <img src="{{ baseUrl() }}/assets-costa/img/white-dots.png" alt="">
</div>
{% endblock header %} {% block body %}
<div id="quees">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <h1>¿Qué es<br>A Toda Costa?</h1>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <div class="body-dots">
                    <img src="{{ baseUrl() }}/assets-costa/img/green-dots.png" class="" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <p>
                    <b>Es un plan de desarrollo sustentable para la región costera que conforman los Departamentos Garay y San Javier.</b>                    Este plan, a ejecutarse durante los próximos 3 años, tiene como objetivo explotar el enorme potencial
                    de esta región a partir de proyectos que fortalezcan su desarrollo productivo y turístico; su cultura
                    e identidad, respeten al medio ambiente, y promuevan su crecimiento económico para mejorar la calidad
                    de vida de sus habitantes.<br>
                <a href="{{ urlFor('shwActividades') }}" class="btn btn-quees">Ver actividades</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="importancia">
    <div class="container">
        <div class="row">
            <div class="col-md-push-7 col-md-5">
                <h1>¿Por qué<br>es importante?</h1>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <div class="body-dots">
                    <img src="{{ baseUrl() }}/assets-costa/img/blue-dots.png" class="" alt="">
                </div>
            </div>
            <div class="col-md-pull-7 col-md-5">
                <p>
                    La planificación participativa de los Departamentos Garay y San Javier resulta de gran importancia para <b>asegurar un adecuado desarrollo territorial, que permita dinamizar el sector turístico, generar empleo, nuevas oportunidades económico-productivas, potenciando el uso de los recursos naturales, mejorando la infraestructura de servicios públicos, y revalorizando las capacidades, conocimientos  e identidad locales.</b><br>                    En este sentido, el Plan “A Toda Costa” articula y acuerda con todos los actores locales, públicos y
                    privados las principales acciones tendientes al desarrollo, promoción y consolidación de una región sustentable.<br>
                <a href="{{ urlFor('shwAcerca') }}" class="btn btn-importancia">De donde partimos</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="ejes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>¿Que ejes se van a trabajar?</h1>
                <img class="little-dot" src="{{ baseUrl() }}/assets-costa/img/little-dot.png" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="position:relative;">
            <div class="line"></div>
            <div class="carrousel">
                                        {% for derecho in derechos %}
                <div class="col-xs-11 col-md-3 text-center">
                    <div class="line"></div>
                    {% if loop.first %}
                    <div class="line amarillo first"></div>
                    {% elseif loop.last %}
                    <div class="line amarillo last"></div>                    
                    {% else %}
                    <div class="line amarillo"></div>                    
                    {% endif %}
                    <img src="{{ baseUrl() }}/assets-costa/img/ejes/{{derecho.orden}}.svg" alt="">
                    <h2 class="titulo">{{derecho.titulo}}</h2>
                    <p class="descripcion">{{derecho.resumen}}</p>
                    <a href="{{urlFor('shwDerecho', {'idDer':derecho.contenible_id})}}" class="btn btn-pill btn-amarillo">Participá</a>
                </div>
                        {%endfor%}
            </div>
        </div>
        <div class="row footer-carrousel">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 hands">
                <img src="{{ baseUrl() }}/assets-costa/img/hands.svg" alt="">
                <div class="line-hands"></div>
            </div>
        </div>
    </div>
</div>
<div id="testimonios">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="box text-center">
                    <div class="carrousel-testimonios">
                        {% for testimonio in testimonios %}
                        <div class="testimonio">
                            <p><i>"{{testimonio.testimonio}}"</i></p>
                            <span class="autor">{{testimonio.persona}}</span><span class="titulo"> - {{testimonio.cargo}}</span></p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %} {% block scripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
    $(document).ready(function () {
        $('.carrousel').slick({
            centerMode: true,
            //centerPadding: '60px',
            dots: true,
            arrows: false,
            slidesToShow: 3,
            infinite: 0,
            responsive: [{
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        //centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
        $('.carrousel-testimonios').slick({
dots: true,
            arrows: false
        });
    });
</script>
{% endblock scripts %}