{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Registro{% endblock titulo %} {% block linkhead
%}
<script src='https://www.google.com/recaptcha/api.js'></script>
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets-costa/css/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets-costa/css/timepicker/jquery.timepicker.css" /> {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Registro</h1>
                <hr>
            </div>
        </div>
    </div>
    <div id="registro-box" class="container">
        <form action="{{ urlFor('runCrearUsuario') }}" method="POST" data-toggle="validator">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="form-group">
                        <input name="nombre" type="text" data-error="Complete el campo con un nombre valido" pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$"
                            placeholder="Nombre " id="inputNombre
                                    " class="form-control " required>
                            <div class="help-block with-errors "></div>
                    </div>
                    <div class="form-group">
                        <input name="apellido" type="text" data-error="Complete el campo con un apellido valido" pattern="^^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$"
                            placeholder="Apellido" id="inputApellido" class="form-control" required>
                            <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input name="email" type="email" data-error="Complete el campo con un email valido" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                            placeholder="Email" id="inputEmail" class="form-control" required>
                            <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" placeholder="Escriba aquí su contraseña" id="inputPassword" class="form-control" data-error="Contraseña"
                            required>
                    </div>
                    <div class="form-group">
                        <input name="password2" type="password" placeholder="Reingrese contraseña" class="form-control" data-match="#inputPassword"
                            data-error="Reingrese la contraseña que ha ingresado en el campo anterior" data-match-error="Las contraseñas no son iguales. Revisé"
                            required>
                            <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input id="datepicker" class="form-control" placeholder="Fecha de nacimiento">
                        <input id="guardarFecha" type="hidden">
                        <input id="fecha-final" name="birthday" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label for="inputOcupacion">Localidad</label>
                        <select class="form-control" id="inputLocalidad" name="address" data-error="Localidad" required>
                                        {% for localidad in localidades %}
                                            <option value="{{ localidad }}">{{ localidad }}</option>
                                        {% endfor %}
                                    </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputOcupacion">Ocupacion</label>
                        <select class="form-control" id="inputOcupacion" name="title" data-error="Ocupación" required>
                                        {% for ocupacion in ocupaciones %}
                                            <option value="{{ ocupacion }}">{{ ocupacion }}</option>
                                        {% endfor %}
                                    </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div class="captcha-cont g-recaptcha" data-sitekey="6LcF-CYTAAAAAOdQ_mLyGnTl6uqw1FGj7yrpfW_F"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-submit btn-block">Entrar <i class="mdi mdi-login-variant"></i></button>
                        <br>
                        <a href="{{urlFor('shwLogin')}}" class="btn btn-primary btn-aux btn-block">Volver</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %} {% block scripts %}
<script src="{{ baseUrl() }}/assets-costa/js/validator.min.js"></script>
<script src="{{ baseUrl() }}/assets-costa/js/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ baseUrl() }}/assets-costa/js/jquery-ui/datepicker-es.js"></script>
<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'DD, dd MM yy',
            altField: "#guardarFecha",
            altFormat: "yy-mm-dd",
            yearRange: '1920:2010',
            defaultDate: new Date(1920,0,1)
        });
    });


    $('form').submit(function (e) {
        var fecha = $("#guardarFecha").val();
        $('#fecha-final').val(fecha);
    })  
</script>
{% endblock scripts %}